.build_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.build_control button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
}

.build_control button:disabled {
  background-color: #AC9980;
  border: 1px solid #7E7365;
  color: #ccc;
  cursor: default;
}

.build_control button:hover:disabled {
  background-color: #AC9980;
  color: #ccc;
  cursor: not-allowed;
}

.label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.build_control .less {
  background-color: #D39952;
  color: white;
}

.build_control .more {
  background-color: #8F5E1E;
  color: white;
}

.build_control .less:hover, .build_control .less:active {
  background-color: #DAA972;
  color: white;
}

.build_control .more:hover,.build_control .more:active {
  background-color: #99703F;
  color: white;
}